<div class="panel">
    <div class="row">
        <div class="col-xs-4">
            <a href="pogodetail.html?number={{pokemon.id}}">
                <div class="pogo dex-{{pokemon.id}}"></div>
            </a>
        </div>
        <div class="col-xs-8">
            <h3> {{pokemon.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Types</strong>
        </div>
        <div class="col-xs-8">
            {{#each pokemon.types}} {{this}}{{#unless @last}},{{/unless}} {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Generation</strong>
        </div>
        <div class="col-xs-8">
            {{species.generationNumber}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Region</strong>
        </div>
        <div class="col-xs-8">
            {{species.region}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Attack:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.statAtk}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Defense:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.statDef}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Stamina:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.statSta}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Max CP:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.maxCP}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Candies to Evolve:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.candyToEvolve}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Buddy Distance:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.buddyDistance}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Capture Rate:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.captureRate}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Flee Rate:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.fleeRate}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <strong>Legendary:</strong>
        </div>
        <div class="col-xs-8">{{pokemon.isLegendary}}</div>
    </div>
</div>

<div class="panel">
    <p class="title">Attacks</p>
    <table class="table-bordered table-condensed">
        <tr>
            <td>Defense</td>
            {{#each attacks.cols}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{#each attacks.rows}}
        <tr>
            {{#each this}} {{#if bgcolor}}
            <td style="background-color:{{bgcolor}};color:{{fgcolor}};text-align:center;">{{effectiveness}}%</td>
            {{else}}
            <td>{{this}}</td>
            {{/if}} {{/each}}
        </tr>
        {{/each}}
    </table>
</div>

<div class="panel">
    <p class="title">Evolutions</p>
    {{#each evolutions}}
    <div class="row">
        {{#each this}}
        <div class="col-xs-4">
            <a href="pogodetail.html?number={{id}}">
                <div title="{{name}}" class="pogo dex-{{id}}"></div>
            </a>
        </div>
        {{/each}}
    </div>
    <hr/> {{/each}}
</div>