<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong>ID:</strong>
        </div>
        <div class="col-md-8">{{detail.species.id}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Name:</strong>
        </div>
        <div class="col-md-8">{{detail.species.name}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Generation:</strong>
        </div>
        <div class="col-md-8">{{detail.species.generationNumber}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Region:</strong>
        </div>
        <div class="col-md-8">{{detail.species.region}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Evolutions:</strong>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        {{#each detail.pokemon}}
        <tr>
            <td class="col-md-2">
                <p>
                    <strong>{{name}}</strong>
                </p>
                <p>
                    <a href="pogodetail.html?number={{id}}">
                        <div title="{{name}}" class="pogo dex-{{id}}" onclick="window.location.href='pogodetail.html?number={{id}}';"> </div>
                    </a>
                </p>
            </td>
            <td>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <strong>ID:</strong>
                        </div>
                        <div class="col-md-8">{{id}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Types:</strong>
                        </div>
                        <div class="col-md-8">{{#each types}} {{this}}{{#unless @last}},{{/unless}} {{/each}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Attack:</strong>
                        </div>
                        <div class="col-md-8">{{statAtk}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Defense:</strong>
                        </div>
                        <div class="col-md-8">{{statDef}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Status:</strong>
                        </div>
                        <div class="col-md-8">{{statSta}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Candies to Evolve:</strong>
                        </div>
                        <div class="col-md-8">{{candyToEvolve}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Buddy Distance:</strong>
                        </div>
                        <div class="col-md-8">{{buddyDistance}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Capture Rate:</strong>
                        </div>
                        <div class="col-md-8">{{captureRate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Flee Rate:</strong>
                        </div>
                        <div class="col-md-8">{{fleeRate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Legendary:</strong>
                        </div>
                        <div class="col-md-8">{{isLegendary}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Weight:</strong>
                        </div>
                        <div class="col-md-8">{{weight}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Height:</strong>
                        </div>
                        <div class="col-md-8">{{height}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <strong>Base XP:</strong>
                        </div>
                        <div class="col-md-8">{{base_xp}}</div>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>

</div>